.actionScriptProperties
.project
.settings
bin-debug

*.swf
*.app
*.exe
*.apk
*.air
*.html

admin/uploads/*
admin/videos/*
*.tmp
offline_content/uploads/*
offline_content/uploads_4-5-2012/*
offline_content/videos/*
offline_content/videos_720p/*

GMapApp.p12
admin/db_connection.php
admin/db_connection_maddoc.php
admin/db_connection_newpage.php
